<h1 STYLE="font: 27pt/30pt courier; font-variant: small-caps; ">All Users</h1><br>
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <% reg_date = user.created_at.strftime("#{user.created_at.day.ordinalize} %B") %>
      <% reg_yr = user.created_at.strftime("%Y") %>
      <%= link_to user.name, "p/".concat(user.name.parameterize.underscore) %> signed up on <%= "#{reg_date}" %>
      <%= ", #{reg_yr}" if reg_yr.to_i > 2012 %>
    </li>
  <% end %>
</ul>
