<% if false %>
<% @users.each do |user| %>
<p>User: <%=link_to user.name, user %></p>
<% end %>
<% end %>

  <div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Current score</a></li>
      <li><a href="#tab2" data-toggle="tab">Today's scores</a></li>
      <li><a href="#tab3" data-toggle="tab">All time scores</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
	<%= render "round_stats/index" %>
      </div>
      <div class="tab-pane" id="tab2">
	<%= render "daily_stats/index" %>
      </div>
      <div class="tab-pane" id="tab3">
	<%= render "perma_stats/index" %>
      </div>
    </div>
  </div>

  <div class="ribbon">
    <a href="https://github.com/Navgeet/n00b-pub" rel="me">Fork me on GitHub</a>
  </div>
