<div class="hero-unit">
  <h1>Bugs and Suggestions</h1>
  <p>Report bugs and suggest enhancements here. Also feel free to ask questions. To submit patches head over to <a href="https://github.com/Navgeet/n00b-pub">github</a></p>
  <p>
    <%= link_to "Report Bug", new_bug_path, :class => 'btn btn-primary btn-large' %>
  </p>
</div>

<% @bugs.each do |bug| %>
<h3><%= link_to bug.title, bug%></h3>
<div class="well">
  <%= bug.text %>
</div>
<% end %>
