<h1 ALIGN="center" STYLE="font: 36pt/40pt courier; font-variant: small-caps; ">Frequently asked questions</h1><br>
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#1">
	What's all this about?
      </a>
    </div>
    <div id="1" class="accordion-body collapse">
      <div class="accordion-inner">
	This is a website to display the statistics collected day and night on n00b Pub Server.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#2">
	Getting Started
      </a>
    </div>
    <div id="2" class="accordion-body collapse in">
      <div class="accordion-inner">
	To participate, you must follow the two steps below in the EXACT order :<br><br>
	<ul>
	  <li>
	<a href="/users/sign_up">Register</a> on the website, selecting a unique "Setinfo pass". This pass will henceforth be used to identify you on the Server and track your scores.<br>
	  </li>
	  <li>
	After registration, you must put the exact pass in your client. Open your userconfig.cfg file (it will be in a location like <i>C:\Program Files\Counter Strike\cstrike\userconfig.cfg</i>, create the file if it does not exist) and add the following line at the end:<br>
	<code>setinfo pass n00b</code><br>
	<i>(replace n00b with the Setinfo pass you registered)</i>
	</li>
	  </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#3">
	If I choose not to register, or if I enter the wrong setinfo pass in my client, will I be kicked from the Server?
      </a>
    </div>
    <div id="3" class="accordion-body collapse">
      <div class="accordion-inner">
	No, registering only makes you eligible for tracking your scores, it does not affect your entry in server. Similiarly, if you enter a wrong setinfo pass, you simply won't be tracked. Nothing else.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#4">
	Does this mean if I enter another user's setinfo pass in my client, will I be tracked as him?
      </a>
    </div>
    <div id="4" class="accordion-body collapse">
      <div class="accordion-inner">
	Yes, that is intended. The setinfo pass is your only link to the server. It is up to you to keep it safe.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#5">
	Why does the game lag just before a round starts?
      </a>
    </div>
    <div id="5" class="accordion-body collapse">
      <div class="accordion-inner">
	That's when all players' stats are collected and fed into the database.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#6">
	Is the code open?
      </a>
    </div>
    <div id="6" class="accordion-body collapse">
      <div class="accordion-inner">
	Yes! The website's code is hosted publicly at <a href="https://github.com/Navgeet/n00b-pub">Github</a>. Code contributions are highly appreciated. Bugs and suggestions can be submitted <a href="/bugs">here</a>.
      </div>
    </div>
  </div>
</div>
