html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
       padding-bottom: 15px;}  /* must be same height as the footer */

#footer {position: relative;
	 margin-top: -15px; /* negative value of footer height */
	 height: 15px;
	 clear:both;} 