<% flash.each do |name, msg| %>
<div class="alert alert-<%= if name == :notice then "info" elsif name == :tip then "info" else "error" end %>">
  <a class="close" data-dismiss="alert">&#215;</a>
  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
</div>
<% end %>
